{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      },
      "modules": "commonjs"
    }]
  ],
  "plugins": [
    "syntax-object-rest-spread",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-export-extensions",
    "emotion"
  ]
}
