.git
.gitignore

# Node.js dependencies
node_modules/
**/node_modules/

# Turborepo cache
.turbo/
**/.turbo

# TypeScript type-checking artifact
**/tsconfig.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
