{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "prettier",
    "prettier/react"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "16.4.1"
    }
  },
  "rules": {
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js"]
      }
    ],
    "react/forbid-prop-types": "any",
    "import/no-extraneous-dependencies": 0,
    "func-names": 0,
    "arrow-body-style": 0
  },
  "overrides": [
    {
      "files": ["packages/**/*.js"],
      "excludedFiles": ["*.spec.js", "*.story.js"],
      "env": {
        "es6": true,
        "browser": true,
        "node": false,
        "mocha": false
      }
    },
    {
      "files": ["packages/**/*.spec.js"],
      "globals": {
        "expect": true,
        "should": true,
        "jest": true
      },
      "rules": {
        "no-unused-expressions": 0,
        "prefer-arrow-callback": 0,
        "jest/no-disabled-tests": "error",
        "jest/no-identical-title": "error",
        "jest/valid-expect": "error"
      }
    }
  ]
}
