public-hoist-pattern[]=@types/*
public-hoist-pattern[]=@testing-library/*
public-hoist-pattern[]=*jest*
public-hoist-pattern[]=react
public-hoist-pattern[]=react-dom
public-hoist-pattern[]=@storybook/react
