enable-pre-post-scripts=true
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=*jest*
public-hoist-pattern[]=react
public-hoist-pattern[]=react-dom
public-hoist-pattern[]=@storybook/react
public-hoist-pattern[]=@lg-tools/build
public-hoist-pattern[]=@lg-tools/storybook-addon
public-hoist-pattern[]=@lg-tools/storybook-utils
public-hoist-pattern[]=@leafygreen-ui/testing-lib