enable-pre-post-scripts=true
public-hoist-pattern[]=@leafygreen-ui/testing-lib
public-hoist-pattern[]=@lg-tools/storybook-addon
public-hoist-pattern[]=@lg-tools/storybook-utils
public-hoist-pattern[]=@storybook/react
public-hoist-pattern[]=@storybook/test
public-hoist-pattern[]=@testing-library/*
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=*jest*
public-hoist-pattern[]=react
public-hoist-pattern[]=react-dom
@mongodb:registry=https://registry.figma.com/npm/6ac0a675-d39f-4a9d-a1f3-9a4526b7c668/registry/
@make-kits:registry=https://registry.figma.com/npm/6ac0a675-d39f-4a9d-a1f3-9a4526b7c668/registry/
@leafygreen-ui:registry=https://registry.figma.com/npm/6ac0a675-d39f-4a9d-a1f3-9a4526b7c668/registry/

//registry.figma.com/npm/6ac0a675-d39f-4a9d-a1f3-9a4526b7c668/registry/:_authToken=${FIGMA_NPM_TOKEN}
