# This file defines codeowners in the leafygreen-ui repo, such that reviewers can be automatically assigned to open PRs

# Please note, this is a WIP team convention, and a stanp from a codeowner is not required to merge a new change into the repo

# Example: /packages/example/ @bruugey

/packages/a11y/
/packages/badge/
/packages/banner/
/packages/box/
/packages/button/ @spark33
/packages/callout/
/packages/card/
/packages/checkbox/
/packages/code/
/packages/combobox/ @thesonofthomp @shaneeza
/packages/confirmation-modal/ @shaneeza
/packages/copyable/
/packages/emotion/
/packages/empty-state/ @spark33
/packages/expandable-card/ @thesonofthomp @spark33
/packages/form-footer/ @thesonofthomp
/packages/guide-cue/ @shaneeza
/packages/hooks/ @thesonofthomp
/packages/icon/
/packages/icon-button/
/packages/inline-definition/ @shaneeza
/packages/leafygreen-provider/
/packages/lib/
/packages/loading-indicator/ @spark33
/packages/logo/
/packages/marketing-modal/ @shaneeza
/packages/menu/
/packages/modal/ @shaneeza
/packages/number-input/ @shaneeza
/packages/pagination/ @spark33
/packages/palette/
/packages/password-input/ @shaneeza
/packages/pipeline/ @shaneeza
/packages/popover/ @shaneeza
/packages/polymorphic/ @thesonofthomp
/packages/portal/
/packages/radio-box-group/
/packages/radio-group/
/packages/ripple/
/packages/search-input/ @thesonofthomp
/packages/segmented-control/ @thesonofthomp
/packages/select/
/packages/side-nav/
/packages/split-button/ @shaneeza
/packages/stepper/ @spark33
/packages/table/ @spark33 @thesonofthomp
/packages/tabs/
/packages/testing-lib/
/packages/text-area/
/packages/text-input/
/packages/toast/ @thesonofthomp
/packages/toggle/
/packages/tokens/
/packages/tooltip/ @shaneeza
/packages/typography/ 

/scripts @thesonofthomp
/scripts/slackbot @thesonofthomp

./storybook/ @thesonofthomp @spark33
./.github/ @thesonofthomp @spark33
