# This file defines codeowners in the leafygreen-ui repo, such that reviewers can be automatically assigned to open PRs

# Please note, this is a WIP team convention, and a stanp from a codeowner is not required to merge a new change into the repo

/packages/a11y/
/packages/badge/
/packages/banner/
/packages/box/
/packages/button/
/packages/callout/
/packages/card/
/packages/checkbox/
/packages/code/
/packages/combobox/
/packages/confirmation-modal/
/packages/copyable/
/packages/emotion/
/packages/empty-state/
/packages/expandable-card/
/packages/form-footer/
/packages/guide-cue/
/packages/hooks/
/packages/icon/
/packages/icon-button/
/packages/inline-definition/
/packages/leafygreen-provider/
/packages/lib/
/packages/loading-indicator/
/packages/logo/
/packages/marketing-modal/
/packages/menu/
/packages/modal/
/packages/mongo-nav/
/packages/number-input/
/packages/pagination/
/packages/palette/
/packages/password-input/
/packages/pipeline/
/packages/popover/
/packages/polymorphic/
/packages/portal/
/packages/radio-box-group/
/packages/radio-group/
/packages/ripple/
/packages/search-input/
/packages/segmented-control/
/packages/select/
/packages/side-nav/
/packages/split-button/
/packages/stepper/
/packages/table/
/packages/tabs/
/packages/testing-lib/
/packages/text-area/
/packages/text-input/
/packages/toast/
/packages/toggle/
/packages/tokens/
/packages/tooltip/
/packages/typography/
