@leafygreen__green--dark-3: #0b3b35;
@leafygreen__green--dark-2: #116149;
@leafygreen__green--dark-1: #09804c;
@leafygreen__green--base: #13aa52;
@leafygreen__green--light-2: #c3e7ca;
@leafygreen__green--light-3: #e4f4e4;

@leafygreen__gray--dark-3: #21313c;
@leafygreen__gray--dark-2: #3d4f58;
@leafygreen__gray--dark-1: #5d6c74;
@leafygreen__gray--base: #89979b;
@leafygreen__gray--light-1: #b8c4c2;
@leafygreen__gray--light-2: #e7eeec;
@leafygreen__gray--light-3: #f9fbfa;

@leafygreen__blue--dark-3: #0d324f;
@leafygreen__blue--dark-2: #1a567e;
@leafygreen__blue--base: #007cad;
@leafygreen__blue--light-1: #9dd0e7;
@leafygreen__blue--light-2: #c5e4f2;
@leafygreen__blue--light-3: #e1f2f6;

@leafygreen__yellow--dark-3: #543e07;
@leafygreen__yellow--dark-2: #86681d;
@leafygreen__yellow--base: #ffdd49;
@leafygreen__yellow--light-2: #fef2c8;
@leafygreen__yellow--light-3: #fef7e3;

@leafygreen__red--dark-3: #570b08;
@leafygreen__red--dark-2: #8f221b;
@leafygreen__red--dark-1: #b1371f;
@leafygreen__red--base: #cf4a22;
@leafygreen__red--light-2: #f9d3c5;
@leafygreen__red--light-3: #fcebe2;

@leafygreen__white: #ffffff;
@leafygreen__black: #061621;
@leafygreen__focus: #019ee2;
