name: File Size

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sizeDiff:
    name: Check file size
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - uses: preactjs/compressed-size-action@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          build-script: 'build  --force'
          clean-script: 'clean'
